.top {
    display: flex;
    margin-top: 65px;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}

.flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 15px;
}

.link {
    width: 270px;
    margin: 10px 10px 10px;
}
.card {
    box-shadow: 0 0.5px 2px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(97, 96, 96, 0.2);
    transition: 0.1s;
    border-radius: 5px;
    text-align: center;
}

.card:hover {
    background-color: rgba(247, 244, 244, 0.856);
}

.imageBlock {
    padding-top: 10px;
    border-bottom: 1.5px solid rgba(88, 87, 87, 0.2);
}

.container {
    padding: 2px 16px;
}

.img {
    border-radius: 5px 5px 0 0;
}

.title {
    margin-top: 10px;
}

.imgInfo {
    font-size: 13px;
}
